# Stop on error
set -e
pwd
export AWS_PAGER=""
inherit_env=$(cat .env | grep INHERIT_ENV | sed s/INHERIT_ENV=//g)
echo $inherit_env
# Declare default variables
env_files=("$inherit_env/.env" ".env" ".dev.env")

script_dir=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

source $script_dir/infra/library/scripts/import-env-vars.sh


