# Stop on error
set -e

export AWS_PAGER=""
inherit_env=$(cat .env | grep INHERIT_ENV | sed s/INHERIT_ENV=//g)

# Declare default variables
env_files=("$inherit_env/.env" ".env" "override.env")

script_dir=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

source $script_dir/scripts/import-env-vars.sh


