
# Extracts this script's current working directory
old_script_dir=$script_dir;script_dir=$(realpath "$(dirname "$BASH_SOURCE")")

source $script_dir/infra/library/scripts/.getenv

# Restore script_dir to original value if this script is sourced
[[ "$BASH_SOURCE" != "0" && ! -z $old_script_dir ]] && script_dir=$old_script_dir || true

