# Terraform
.terraform
*.tfstate
*.tfstate.backup
.plugin-cache
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
out/

#ssh
sshkey

#other
*.override.hcl
*.tgpid
user/custom
*.job

.vscode
*.code*
venv
temp-job
__pycache__
.pytest_cache
archive
override.env
*.log
results.txt
*.tar
*.tar.gz
temp
*.zip
custom-test-inputs.json
test-client-inputs.json
log.txt

